<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>index</title>
  </head>
  <body>
    <h1>Turistical destinations api</h1>
    <p>
      Destination api is a simple database wich contains information about a few
      touristical destinations and images.This was created as a personal and
      learning backend project and to connect it to a mock travel agency
      frontend as second part of the project
    </p>
    <p>the resources displayed have common licensing for use and sharing</p>
    <p>the node app is deployed on heroku at url</p>
    <p>the front end part is deployed on at url</p>
    <p>link to my git hub</p>
  </body>
</html>
