* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 36px;
  min-height: 100vh;
  color: #fff;
  background-color: transparent;
  place-content: center;
  display: grid;
}

img {
  margin: auto;
  width: 500px;
}
